# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Environments
.env
.venv
env/
venv/
ENV/

# Temporary and log files
*.log
*.tmp
*.bak
*.swp

# IDE and OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Streamlit Secrets (NUNCA subir a GitHub - contiene tokens)
.streamlit/secrets.toml
